html, body {height: 100%;
}

body {margin: 0;
    color: seashell;
    display: block;
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
  }

  header {display: flex;
      align-items: center;
      position: fixed;
      z-indez: 1;
      width: 100%;
      height: 69px;
      border-bottom: 1px solid seashell;
    }

.content {display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0;
  }

.logo {display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
  }

.logo img {
        height: 50px;
        margin-left: 10px;
  }

.logo span {color: seashell;
}

nav span {display: inline-block;
  text-decoration: underline;
  color: seashell;
}

a {color: seashell;
  padding: 10px;
}

.our_mission {display: block;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  justify-content: space-around;
}

.our_mission .jaroftea {
  align-items: center;
  width: 100%;
  background: black;
  font-align: center;
  color: seashell;
  opacity: 0.9;
}

.teaofthemonth {display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1000px;
  }

  .teaofthemonth .firstthree {display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .teaofthemonth .secondgroup {display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tea {height: 200px;
    width: 300px;
  }

  h3  {font-size: 22px;
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
  }
