html, body {height: 100%;
}

body {margin: 0;
    display: block;
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
  }

  .content {display: flex;
    width: 1280px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
  }

.logo {display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
  }

.logo img {width: 70px;
        height: 60px;
        margin-right: 12px;
  }

.logo span {color: mediumAquamarine;
}
