html, body {height: 100%;
}

body {margin: 0;
    color: seashell;
    display: block;
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
  }

  header {display: flex;
      align-items: center;
      position: fixed;
      z-indez: 1;
      width: 100%;
      height: 69px;
      border-bottom: 1px solid seashell;
      background-color: black;
    }

.content {display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0;
  }

h2, h3, h4 {margin: 0;
    display: block;
    padding: 10px;
    padding: 10px;
    text-align: center;
  }


.logo {display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
  }

.logo img {
        height: 50px;
        margin-left: 10px;
  }

.logo span {color: seashell;
}

nav span {display: inline-block;
  text-decoration: underline;
  color: seashell;
}

a {color: seashell;
  padding: 10px;
}

#mission {display: flex;
  flex-wrap: wrap;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  font-size: 22px;
  height: 700px;
  padding-top: 70px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

#mission .jaroftea {
  margin: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 1200px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 22px;
  background: black;
  margin-bottom: 298.4px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 298.4px;
  color: seashell;
  opacity: 0.9;
  display: block;
}

#teaofthemonth {display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1000px;
    height: 700px;
    padding-top: 70px;
    margin: auto;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  #teaofthemonth .firstthree {display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #teaofthemonth .secondgroup {display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .tea {height: 200px;
    width: 300px;
  }

  h3  {font-size: 22px;
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
  }

  #locations {background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    height: 500px;
    padding-top: 70px;
    width: 1200px;
    display: block;
    text-align: center;
    font-size: 22px;
  }

  #locations .flex-container {margin: auto;
    width: 1100px;
  }

  .flex-container.locations {padding-top: 5px;
  }

  .flex-container {display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .location {opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactinfo {height: 200px;
    text-align: center;
    display: block;
}

h5  {display: block;
    text-align: left;
    height: 21.6px;
    width: 880.8px;
    font-weight: bold;
  }

  footer{text-align: left;
    padding: 20px;
  }
